.product__footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

@media (min-width: 769px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .product {
    width: 32%;
  }

  .product:nth-child(3n - 1) {
    margin-right: 2%;
    margin-left: 2%;
  }

  .product__footer {
    display: flex;
    align-items: flex-end;
  }
}
